introduction-chaincode/dev-mode/chaincode/organizacao/node_modules/*

introduction-node-sdk/hfc/*
introduction-node-sdk/config/crypto-config/*

introduction-network/crypto-config/*
introduction-network/channel-artifacts/*
